NEXT_PUBLIC_GTM_ID=GTM-XXXXXXX
NEXT_PUBLIC_GA_ID=G-XXXXXXXXXX
NEXT_PUBLIC_WHATSAPP_NUMBER=90XXXXXXXXXX
RESEND_API_KEY=re_xxxxxxxxxxxxx
CONTACT_EMAIL=info@firmaadi.com.tr
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=AIza...
NEXT_PUBLIC_SITE_URL=https://www.firmaadi.com.tr
